    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        width:100%;
        height: 100%;
        font-family:sans-serif;
    }

    .header-main{
        width: 100%;
        height: 100%;
    }

    .navbar{
        width: 100%;
        height: 2.5em;
        display: flex;
        justify-content: space-between;
        background-color: #000000;
    }

    .nav-left{
        margin-left:1% ;
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .nav-left a{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        width: 16%;
        height: 100%;
        text-decoration: none;
        cursor: pointer;
    }

    .nav-left a:hover{
        background-color: rgb(236, 225, 225);
        color: black;
    }

    .nav-right{
        margin-right: 1%;
        width: 3%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-right a{
        text-decoration: none;
        color: white;
    }

    .header-content{
        width: 100%;
        height: 100vh;
    }

    .header-content-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40vh;
    }

    .header-content-text mark{
        background-color: black;
        color: white;
    }

    .heading-main{
        font-size: 3.4rem;
    }

    .text{
        font-size: 1.5rem;
    }

    .header-image-area{
        height: 100vh;
        width: 100%;
        display: flex;
    }

    .header-image-area img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -1;
    }

    .img-text{
        align-self: center;
        padding-left: 2rem;
    }

    .img-text-heading{
        font-size: 2rem;
        color: black;
    }

    .img-text-caption{
        font-size:4rem;
        color: black;
    }

    .subscribe-btn{
        color:white;
        width: 10rem;
        height: 3rem;
        background-color: #000000;
        border: none;
        font-size: 1.3rem;
        margin-top: 1rem;
        opacity: 0.7;
    }

    .subscribe-btn:hover{
        background-color:white ;
        color:black;
        cursor: pointer;
    }

    .main-content{
        width: 100%;
        height: auto;
        display: flex;
    }

    .blog-content{
        width: 60%;
        height: 100%;
        margin: 2% 1% 2% 2%;
        background-color:aliceblue;
    }

    .blog{
        width: 100%;
        height: auto;
    }

    .blog p{
        text-align: center;
        padding-top: 1%;
    }

    .title{
        margin-top: 1%;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .title-heading{
        font-size: 1.3rem;
    }

    .title-caption{
        font-size: 1.2rem;
    }

    .title-caption .date{
        color: gray;
    }

    .blog-img{
        width: 100%;
        height: 100%;
    }

    .blog-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding:2%;
    }

    .blog-text p{
        padding: 0 2% 1% 2%;
        font-size: 1.1rem;
    }

    .blog-btns{
        display: flex;
        justify-content: space-between;
    }

    .like-btn,.reply-btn{
        margin: 3% 3% 3% 3%;
    }

    .like-btn button,.reply-btn button{
        width: 5rem;
        height: 2rem;
        font-size: 1rem;
        border: none;
    }

    .reply-btn button{
        background-color: rgb(18, 18, 18);
        color: white;
    }

    .reply-btn button:hover{
        background-color: white;
        color:black;
        cursor: pointer;
    }

    .like-btn button:hover{
        background-color: black;
        color: white;
        cursor: pointer;
    }

    .aside-bar{
        margin: 2% 2% 2% 1%;
        width: 36%;
        height: auto;
        background-color: rgb(240, 239, 239);
    }

    .intro-section{
        width: 100%;
        height: 20%;
    }

    .intro-section p,.intro-section b{
        padding: 0.7% 1.4% 0.7% 1.4%;
    }

    .intro-section img{
        width: 100%;
        height: 70%;
        object-fit: cover;
    }

    .post-section{
        width: 100%;
        height:16%;
        margin-top: 5%;
    }

    .post-heading{
        width: 100;
        height: 12%;
        color: white;
        padding: 3%;
        background-color: black;
    }

    .post{
        width: 100;
        height: 22%;
        display: flex;
    }

    .post .post-img{
        width: 13%;
        height: 80%;
        margin: 2%;
    }

    .post-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .post-text{
        align-self: center;
    }

    .post-text p{
        font-size: 1.2rem;
    }

    .ad-section{
        margin-top: 4%;
        width: 100%;
        height: 10%;
        background-color: rgb(52, 51, 51);
    }

    .ad-heading{
        width: 100%;
        height:20%;
        background-color: black;
        color: white;
        padding: 3%;
    }

    .ad-text{
        width: 94%;
        height: 68%;
        margin: 3%;
        background-color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ad-text p{
        color: white ;
        font-size: 1.3rem;
    }

    .tags-section{
        width: 100%;
        height: 10%;
    }

    .tags-heading,.inspiration-heading,.subscribe-heading{
        width: 100%;
        height: 20%;
        background-color: black;
        color: white;
        padding: 3%;
        margin-top: 5%;
    }

    .tag-text{
        padding: 1%;
        margin: 1%;
    }

    .tag-text{
        display: inline-block;
        background-color: gray;
        color: white;
    }

    .inspiration-section{
        width: 100%;
        height: 20%;
        margin-top: 4%;
    }

    .inspiration-body img{
        width: 100%;
        height: 100%;
        padding: 2%;
        object-fit: cover;
    }

    .body-row1,.body-row2{
        display: flex;
        justify-content: space-evenly;
    }

    .img1,.img2,.img3,.img4{
        width: 48%;
        height: 48%;
    }

    .subscribe-section{
        width: 100%;
        height: 10%;
        background-color: gray;
    }

    .subscribe-body{
        margin: 2%;
    }

    .subscribe-body input{
        margin-top: 4%;
        width: 100%;
        height: 2.4rem;
        border: none;
    }

    .button{
        margin-top: 3%;
        width: 100%;
        height: 2.2rem;
        background-color: rgb(178, 39, 39);
        color: white;
        font-size: 1rem;
        border: none;
    }

    .button:hover{
        cursor: pointer;
        background-color: rgb(187, 188, 214);
        color:rgb(178, 39, 39)
    }

    .footer{
        width: 100%;
        height: 15vh;
        background-color: rgb(20, 20, 20);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer strong{
        color: white;
    }


    @media (max-width:500px){
        .navbar{
            display:none;
        }

        .heading-main{
            font-size: 1.7rem;
        }
        
        .text{
            font-size: 0.75rem;
        }

        .img-text-caption{
            display: none;
        }
        
        .header-image-area{
            width: 100%;
            height: 40vh;
        }

        .header-image-area img{
            width: 100%;
            height: 40vh;
        }

        .main-content{
            flex-direction: column;
        }
        
        .blog-content{
            width: 100%;
        }
        .title-caption{
            font-size: 0.9rem;
        }

        .aside-bar{
            width: 100%;
        }

        .post-text p{
            font-size: 0.7rem;
        }

        .ad-section{
            height: 10rem;
        }

        .subscribe-section{
            height: 12rem;
        }

    }

    /* for small laptops */

    @media (min-width:500px) and  (max-width:950px){
        .intro-section{
            height: 25%;
        }

        .post-text p{
            font-size: 1rem;
        }

        .inspiration-section{
            height: 13%;
        }
    }